/ {
    behaviors {

        ae: ae {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ae>, <&mac_AE>;
            mods = <MOD_LSFT MOD_RSFT>;
        };

        oe: oe {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_oe>, <&mac_OE>;
            mods = <MOD_LSFT MOD_RSFT>;
        };

        ue: ue {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&mac_ue>, <&mac_UE>;
            mods = <MOD_LSFT MOD_RSFT>;
        };

        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };

    };
};
